<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>Form Pendaftaran</h1>
    <hr>
    <form method='POST' action='http://localhost:5000/User'>
        <input type='text' name='email' placeholder="Masukkan E-mail..."/>
        <input type='password' name='password' placeholder="Masukkan Password..."/>
        <input type='submit' value='SignUp'/>
        <input type='submit' formaction='http://localhost:5000/login' value='Login'/>
    </form>
    
</body>
</html>